<header>
  {{!-- {{site-header}} --}}
</header>

<main>
  <div class="flex-container">
    <div class="section-75">
      {{site-banner}}
    </div>
    <div class="section-100">
      {{site-about}}
    </div>
    <div class="section-100">
      {{section-work}}
    </div>
    <div class="section-100">
      {{section-education}}
    </div>
    <div class="section-100">
      {{section-skills}}
    </div>
    <div class="section-100">
      {{section-contact}}
    </div>
  </div>
</main>

<footer>
  This is a footer
</footer>